#credentials
  = form_tag '/sign_in', :class => 'form-horizontal' do
    - if flash[:notice]
      .alert
        %button(type="button" class="close" data-dismiss="alert") ×
        = flash[:notice]
    .control-group
      = label :email, 'Email', :class => 'control-label'
      .controls
        = text_field_tag :email
    .control-group
      = label :password, 'Password', :class => 'control-label'
      .controls
        = password_field_tag :password
    .control-group
      .controls
        = submit_tag "Sign in"
