- bid ||= bid
- offer ||= offer
%tr
  %td
  %td
    - if first
      %a{ :href=>"#bid-#{instrument.id}-modal", :role=>"button", :class => "btn", :id=>"bid-button", 'data-toggle'=>"modal"}
        Bid

  - bid_styling = ''
  - bid_styling = 'mine' if bid and bid.user_id == @user.id
  %td{:class => bid_styling}
    .bid_volume.number
      = bid.formatted_volume( volume_decimals ) if bid
  %td{:class => bid_styling}
    .bid_price.number
      = bid.formatted_price( price_decimals ) if bid

  - offer_styling = ''
  - offer_styling = 'mine' if offer and offer.user_id == @user.id
  %td{:class => offer_styling}
    .offer_price.number
      = offer.formatted_price( price_decimals ) if offer
  %td{:class => offer_styling}
    .offer_volume.number
      = offer.formatted_volume( volume_decimals ) if offer

  %td
    - if first
      %a{ :href=>"#offer-#{instrument.id}-modal", :role=>"button", :class => "btn", :id=>"offer-button", 'data-toggle'=>"modal"}
        Offer
