- bid ||= bid
- offer ||= offer
%tr
  %td
    - if first
      .instrument_name= instrument.name
  %td
    - if first
      %a{ :href=>"#bid-#{instrument.id}-modal", :role=>"button", :class => "btn btn-mini", :id=>"bid-button", 'data-toggle'=>"modal"}
        Bid

  - common_locals = { :user => @user, :instrument => instrument }

  %td
    - if bid and bid.note
      .number.bid_note{ 'data-content' => bid.note }
        %i.icon-pencil

  - locals = common_locals.merge( :order_method => :volume, :decimals => volume_decimals, :order => bid )
  = render :partial => 'shared/one_order_number', :locals => locals
  - locals = common_locals.merge( :order_method => :price, :decimals => price_decimals, :order => bid )
  = render :partial => 'shared/one_order_number', :locals => locals

  - locals = common_locals.merge( :order_method => :price, :decimals => price_decimals, :order => offer )
  = render :partial => 'shared/one_order_number', :locals => locals
  - locals = common_locals.merge( :order_method => :volume, :decimals => volume_decimals, :order => offer )
  = render :partial => 'shared/one_order_number', :locals => locals

  %td
    - if offer and offer.note
      .offer_note{ 'data-content' => offer.note }
        %i.icon-pencil

  %td
    - if first
      %a{ :href=>"#offer-#{instrument.id}-modal", :role=>"button", :class => "btn btn-mini", :id=>"offer-button", 'data-toggle'=>"modal"}
        Offer
  %td
    - if first
      = link_to 'trades', "/trades?instrument_id=#{instrument.id}"

