- bid ||= bid
- offer ||= offer
%tr
  %td
  %td
    - if first
      %a{ :href=>"#bid-#{instrument.id}-modal", :role=>"button", :class => "btn btn-mini", :id=>"bid-button", 'data-toggle'=>"modal"}
        Bid

  - start_locals = { :user => @user, :instrument => instrument }

  - locals = start_locals.merge( :order_method => :volume, :decimals => volume_decimals, :order => bid )
  = render :partial => 'shared/one_order_number', :locals => locals
  - locals = start_locals.merge( :order_method => :price, :decimals => price_decimals, :order => bid )
  = render :partial => 'shared/one_order_number', :locals => locals

  - locals = start_locals.merge( :order_method => :price, :decimals => price_decimals, :order => offer )
  = render :partial => 'shared/one_order_number', :locals => locals
  - locals = start_locals.merge( :order_method => :volume, :decimals => volume_decimals, :order => offer )
  = render :partial => 'shared/one_order_number', :locals => locals

  %td
    - if first
      %a{ :href=>"#offer-#{instrument.id}-modal", :role=>"button", :class => "btn btn-mini", :id=>"offer-button", 'data-toggle'=>"modal"}
        Offer
