%h1= @order_book.name

- if session[:user_id] == @order_book.user_admin_id
  %a(href="#add-instrument-modal" role="button" class="btn" id="add-instrument-button" data-toggle="modal")
    Add instrument
  .modal(id="add-instrument-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none")
    .modal-header
      %h3 Add instrument
    - add_instrument_url = "/order_books/#{@order_book.id}/add_instrument"
    = form_for @new_instrument, :url => add_instrument_url, :remote => true, :method => :put do |f|
      .modal-body
        = f.label      :name
        = f.text_field :name
        = f.label      :description
        = f.text_area  :description, :rows => 7
      .modal-footer
        = f.submit 'Save'

  %a(href="#add-invite-modal" role="button" class="btn" id="add-invite-button" data-toggle="modal")
    Invite
  .modal(id="add-invite-modal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true" style="display:none")
    .modal-header
      %h3 Add Invites
    - add_invite_url = "/order_books/#{@order_book.id}/add_invite"
    = form_tag add_invite_url, :remote => true, :method => :put, :id => 'new_invites' do
      .modal-body
        = label_tag      :email_list
        = text_field_tag :email_list
      .modal-footer
        = submit_tag 'Send'          

.instrument_list
  - if @order_book.instrument_list
    = render :partial => 'instrument_list', :locals => {:order_book => @order_book}
