%table.table.table-striped
  %tr.top_header_row
    %th.instrument_name{ :colspan => 3 }= "All trades in #{@instrument.name}"
    %th
    %th
  %tr
    %td
      .number_header
        time
    %td
      .number_header
        price
    %td
      .number_header
        volume
    %td
      .number_header
        buyer
    %td
      .number_header
        seller
  - @trades.each do |trade|
    %tr.trade
      %td
        .number= trade.timestamp
      %td
        .number= trade.price
      %td
        .number= trade.volume
      %td
        .number= @users[trade.buyer].email if @users[trade.buyer]
      %td
        .number= @users[trade.seller].email if @users[trade.seller]

