%table.table-striped.table-hover.table-condensed
  %thead
    %tr.top_header_row
      - title = "#{@is_admin ? 'All' : 'Your'} trades in #{@instrument.name}"
      %th.instrument_name{ :colspan => 4 }= title
      - if @is_admin
        %th{ :colspan => 1 }
  %tr
    - unless @is_admin
      %th
    %th
      .number_header
        time
    %th
      .number_header
        price
    %th
      .number_header
        volume
    - if @is_admin
      %th
        .number_header
          buyer
      %th
        .number_header
          seller
  - @trades.each do |trade|
    %tr.trade
      - unless @is_admin
        %td
          - if trade.buyer_and_seller? @user
            both
          - elsif trade.buyer? @user
            bought
          - elsif trade.seller? @user
            sold
      %td
        .number= trade.timestamp
      %td
        .number= trade.price
      %td
        .number= trade.volume
      - if @is_admin
        %td
          - if @users[trade.buyer]
            .number
              = render :partial => 'shared/email', :locals => {:email => @users[trade.buyer].email}
        %td
          - if @users[trade.seller]
            .number
              = render :partial => 'shared/email', :locals => {:email => @users[trade.seller].email}
